body{
    background-color: rgb(15, 0, 44);
    font: bold 20pt 'Montserrat';
    color:white;
    text-align: center;
}

input[type="button"]{
    padding: 5px;
    font-size: 12pt;
    background-color: rgb(255,255,255);
    border-style: none;
    border-radius: 10px;
    border-spacing: 100px;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.288);
    transition-duration: 0.05s;
}

input[type="number"]{
    font-size: 13pt;
    background-color: rgb(255, 255, 255);
    color:black;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    height: 10px;
    width: 70px;
    padding: 12px;
    border-radius: 4px;
    border: 2px solid rgb(31, 0, 102);
    font-size: 12pt;
}

input[type="button"]:hover{
    background-color: rgb(190, 190, 190);
}

textarea{
    resize: vertical;
    padding: 10px;
    margin-top: 10px;
    font-size: 16pt;
    border-radius: 4px;
    border: 2px solid rgb(31, 0, 102);
}
#resposta{
    word-wrap: break-word;
    text-align: justify;
}

section{
    color:black;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

footer{
    font-style: italic;
}

#intervalo{
    font-size: 16pt;
};